.Social-media {
  display: flex;
  margin-right: 30px;
}
.Social-media__item {
  width: 30px;
  height: 30px;
  opacity: .2;
}
.Social-media__item_fb {
  background-image: url("../images/fb.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}
.Social-media__item_pinterest {
  background-image: url("../images/pinterest-logo.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}
.Social-media__item_twitter {
  background-image: url("../images/twitter-icon-circle-logo.png");
  background-size: cover;
}
.Social-media__item_linkedin {
  background-image: url("../images/linkedin.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
